numpy>=1.17.4
scipy>=1.4.0
matplotlib>=3.2.0
pandas>=1.0.1
scikit-image>=0.16.2
Pillow>=7.0.0
joblib>=0.14.1
psutil>=5.6.7
statsmodels>=0.11.0
pymc3>=3.8
Theano>=1.0.4
tifffile
psfmodels>=0.2.0
# for driver code #todo: which ones of these are actually being used?
pywin32>=227
pywinusb>=0.4.2
PyVISA>=1.10.1
PyVISA-py>=0.3.1

